<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/annonce">Annonces</a>
        </li>
    </ul>

    <button class="btn btn-primary ml-1" type="button" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="collapseExample">
		Recherche avancée
	</button>

	<div class="collapse" id="search">
		<div class="card card-body">
			{{ render_esi(controller('App\\Controller\\AnnonceController::search')) }}
		</div>
	</div>

    {% if app.user %}
        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
    {% endif %}
</nav>
